body{
    margin: 0;
    padding: 0;
}
aside{
    background-color: violet;
    width: 200px;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}
hr{
    width: 80%;
    margin: auto;
}